# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [60]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [61]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [62]:
df.shape

(800, 11)

In [ ]:
#We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. 
#Choose the propper test and, with 5% significance, comment your findings.

In [72]:
dragon_hp = df[df['Type 1'] == 'Dragon']['HP']
grass_hp = df[df['Type 1'] == 'Grass']['HP']

In [95]:
#dragon_hp

In [96]:
grass_hp

0       45
1       60
2       80
3       80
48      45
      ...
718     56
719     61
720     88
740     66
741    123
Name: HP, Length: 70, dtype: int64

In [79]:
st.ttest_ind(dragon_hp,grass_hp, equal_var=False)

TtestResult(statistic=3.3349632905124063, pvalue=0.0015987219490841199, df=50.83784116232685)

In [89]:
_, p_value = st.ttest_ind(dragon_hp, grass_hp,  equal_var=False, alternative = 'greater')
p_value

0.0007993609745420599

In [90]:
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: Significant difference exists. Dragons have more HP than Grass.")
else:
    print("Fail to reject the null hypothesis: No significant difference found between Dragon and Grass HP.")

Reject the null hypothesis: Significant difference exists. Dragons have more HP than Grass.

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [114]:
legendary= df[df['Legendary'] == True]
non_legendary = df[df['Legendary'] == False]

In [123]:
#legendary

In [124]:
#non_legendary

In [ ]:
#columns ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']

In [117]:
_, p_value = st.ttest_ind(legendary['HP'], non_legendary['HP'],  equal_var=False, alternative = 'two-sided')
p_value

1.0026911708035284e-13

In [126]:
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: Significant difference exists")
else:
    print("Fail to reject the null hypothesis: No significant difference found")

Reject the null hypothesis: Significant difference exists

In [118]:
_, p_value = st.ttest_ind(legendary['Attack'], non_legendary['Attack'],  equal_var=False, alternative = 'two-sided')
p_value

2.520372449236646e-16

In [127]:
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: Significant difference exists")
else:
    print("Fail to reject the null hypothesis: No significant difference found")

Reject the null hypothesis: Significant difference exists

In [119]:
_, p_value = st.ttest_ind(legendary['Defense'], non_legendary['Defense'],  equal_var=False, alternative = 'two-sided')
p_value

4.8269984949193316e-11

In [128]:
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: Significant difference exists")
else:
    print("Fail to reject the null hypothesis: No significant difference found")

Reject the null hypothesis: Significant difference exists

In [120]:
_, p_value = st.ttest_ind(legendary['Sp. Atk'], non_legendary['Sp. Atk'],  equal_var=False, alternative = 'two-sided')
p_value

1.5514614112239812e-21

In [129]:
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: Significant difference exists")
else:
    print("Fail to reject the null hypothesis: No significant difference found")

Reject the null hypothesis: Significant difference exists

In [121]:
_, p_value = st.ttest_ind(legendary['Sp. Def'], non_legendary['Sp. Def'],  equal_var=False, alternative = 'two-sided')
p_value

2.2949327864052826e-15

In [130]:
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: Significant difference exists")
else:
    print("Fail to reject the null hypothesis: No significant difference found")

Reject the null hypothesis: Significant difference exists

In [122]:
_, p_value = st.ttest_ind(legendary['Speed'], non_legendary['Speed'],  equal_var=False, alternative = 'two-sided')
p_value

1.049016311882451e-18

In [131]:
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: Significant difference exists")
else:
    print("Fail to reject the null hypothesis: No significant difference found")

Reject the null hypothesis: Significant difference exists

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 34)
- Hospital coordinates (-122, 37)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [ ]:
###